<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postMessage</title>
</head>

<body>
    <button id='sendFn'>发送请求mv1</button>
    <button id='sendFn1'>发送请求mv2</button>
    <button id='sendFn2'>发送请求mv3</button>
    <a href="https://www.baidu.com" target="_blank">https://www.baidu.com</a>
    <div style="color: aqua;">111111111111111111111111</div>
    <p id='text'></p>
    <script>
        let sender = null;
        let url = '';
        let n = 1;

        window.addEventListener('message', function (event) {
            // alert(e.source, window.parent)
            console.log('http://127.0.0.1:5500/:接收消息', event)
            // document.getElementById('text').innerHTML = JSON.stringify(event.source) + ' : ' + JSON.stringify(window.parent);
            if (event.source != window.parent) return;

            // event.source.postMessage('子组件返回数据', 'http://10.10.10.90:8899/');
            // send(event)

            sender = event
            url = event.origin
        }, false);

        let btn = document.getElementById('sendFn');
        let btn1 = document.getElementById('sendFn1');
        let btn2 = document.getElementById('sendFn2');

        btn.addEventListener('click', function () {
            n++
            sender.source.postMessage({
                original: '改变名字' + n,
                ori: "https://vd3.bdstatic.com/mda-mep4asirxmkxz7su/fhd/cae_h264_nowatermark/1621825631043065076/mda-mep4asirxmkxz7su.mp4",
                fuzhi: "2",
                tubiao: 1,
            }, url);
        }, false)

        btn1.addEventListener('click', function () {
            n++
            window.parent.postMessage({
                original: '改变名字' + n,
                ori: "https://vd3.bdstatic.com/mda-meq1akfy9ysvtwzg/fhd/cae_h264_nowatermark/1621904327996440395/mda-meq1akfy9ysvtwzg.mp4",
                fuzhi: "1",
                tubiao: '3',
            }, url);
        }, false)

        btn2.addEventListener('click', function () {
            n++
            window.parent.postMessage({
                original: '改变名字' + n,
                ori: "https://vd2.bdstatic.com/mda-meq3fq5t7iixvqyy/sc/cae_h264_clips/1621909787503106541/mda-meq3fq5t7iixvqyy.mp4",
                fuzhi: "4",
                tubiao: '4',
            }, url);
        }, false)

        // setInterval(() => {
        //     if (sender) {
        //         sender.source.postMessage({
        //             original: '改变名字' + n,
        //             ori: 'thank you' + n,
        //             fuzhi: "2",
        //         }, url);
        //     }
        // }, 100)
    </script>

    <!-- <script>
        let data = {
            "code": "0",
            "msg": "OK",
            "data": [
                {
                    "title": "tab1",
                    "cname": "类别总称",
                    "series": [
                        {
                            "sid": 1,
                            "name": "系列1",
                            "unit": "单位1"
                        },
                        {
                            "sid": 2,
                            "name": "系列2",
                            "unit": "单位2"
                        },
                        {
                            "sid": 3,
                            "name": "系列3",
                            "unit": "单位3"
                        }
                    ],
                    "data": [
                        {
                            "from": 1,
                            "id": 1,
                            "x": "名称1",
                            "y": 4
                        },
                        {
                            "from": 1,
                            "id": 2,
                            "x": "名称2",
                            "y": 4
                        },
                        {
                            "from": 1,
                            "id": 3,
                            "x": "名称3",
                            "y": 4
                        },
                        {
                            "from": 2,
                            "id": 1,
                            "x": "名称4",
                            "y": 5
                        },
                        {
                            "from": 2,
                            "id": 2,
                            "x": "名称5",
                            "y": 5
                        },
                        {
                            "from": 2,
                            "id": 3,
                            "x": "名称6",
                            "y": 5
                        },
                        {
                            "from": 3,
                            "id": 1,
                            "x": "名称7",
                            "y": 6
                        },
                        {
                            "from": 3,
                            "id": 2,
                            "x": "名称8",
                            "y": 6
                        },
                        {
                            "from": 3,
                            "id": 3,
                            "x": "名称9",
                            "y": 6
                        }
                    ]
                }
            ]
        }
        let args = {
            flag: '2'
        }

        for (var i = 0; i < data.data.length; i++) {
            var d = data.data[i];

            for (var j = 0; j < d.data.length; j++) {
                var s = d.data[j]
                if (s.id < args.flag) {
                    d.data.splice(j, 1)
                }
            }
        }

        console.log(data)

    </script> -->
</body>

</html>